#config_version=6

hardware:
  platform: opp
  driverboards: gen2
  
opp:
   ports: /dev/ttyACM0, /dev/ttyACM1

switches:
  s_left_flipper:
    number: 0-0-8
    tags: left_flipper
  s_right_flipper:
    number: 0-0-9
    tags: right_flipper
  s_sling_left:
    number: 0-0-10
  s_sling_right:
    number: 0-0-11

coils:
  c_flipper_left_main:
    number: 0-0-8
    default_pulse_ms: 40
    allow_enable: true
  c_flipper_right_main:
    number: 0-0-9
    default_pulse_ms: 40
    allow_enable: true

  c_sling_left:
    number: 0-0-10
    default_pulse_ms: 15
  c_sling_right:
    number: 0-0-11
    default_pulse_ms: 15

autofire_coils:
  ac_slingshot_left:
    coil: c_sling_left
    switch: s_sling_left
  ac_slingshot_right:
    coil: c_sling_right
    switch: s_sling_right

flippers:
  left_flipper:
    main_coil: c_flipper_left_main
    activation_switch: s_left_flipper
    enable_events: machine_reset_phase_3
  right_flipper:
    main_coil: c_flipper_right_main
    activation_switch: s_right_flipper
    enable_events: machine_reset_phase_3
